:root {
    --orange: rgb(191, 87, 0);
    --lightorange: rgb(200, 131, 75);
    --darkorange: rgb(158, 71, 0);
}

.submit-button-type {
    margin-bottom: 0.8em;
    border-radius: 1vh;
    background-color: var(--orange);
    color: white;
    border-width: 0px;
    padding: 1vh;
    cursor: pointer;
}