/* SOME OF STYLESHEET FOR TABLE BASED ON CHATGPT RESPONSE */
@import "global.css";


h1 {
    text-align: center;
    padding-bottom: 10px;
}

#registration-info {
    margin: auto;
    width: 50%;
    text-align: center;
}


table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 1vh;
}

caption {
    border-radius: 1vh;
    background-image: linear-gradient(90deg, var(--orange),white,var(--orange));
}

#title_component {
    margin-left: 3vh;
    position: relative;
    float: left;
    font-weight: bolder;
    font-size: larger;
    color: white;
    text-align: left;
}

.longhorn_image_title {
    height: 3vh;
    width: 50%;
    margin: auto;
    position: relative;
    top: 50%;
}

.flex-box  {
    display: flex;
    align-items: center;
}

.title_component {
    margin-top: 1vh;
    margin-bottom: 1vh;
    flex-grow: 1;
    flex-basis: 0;
}

#contain_add_row_button {
    margin-right: 3vh;
}

/* Style for the add row button */
.add-lock { 
    float:right;
    text-align: right;
    border-radius: 1vh;
    border: none;
    color: var(--orange);
    background-color: white;
    font-weight:bolder;
    font-size: larger;
    cursor: pointer;
    
}

#lock-icon {
    background-color: transparent;
    cursor: auto;
}
  
/* Style for the table cells */
td {
    border: 1px solid #dddddd;
    text-align: center;
}

.action-cell {
    display: flex;
    justify-content: space-around;
}

.priority-cell {
    background-image: url("../images/drag.svg");
    background-size: 20px 20px;
    background-position: left;
    background-repeat: no-repeat;
}

/* Style for the table header cells */
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th:first-child {
    border-radius: 1vh;
}

th:last-child {
    border-radius: 1vh;
}
  
/* Style for the table rows */
tr:nth-child(even) {
    background-color: #dddddd;
}

tr.selected_row {
    background-color: #ACCEF7;
}

/* Style for the edit and submit buttons */
.form-buttons {
    background-color: var(--orange);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    /* width: 10%; */
    width: 90px;
    margin-top: 10px;
    text-align: center;
    border-radius: 1vh;
}

/* Style for the disabled submit button */
button[disabled] {
    background-color: #cccccc;
}


/* Style for the popup */
#course-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #cccccc;
    width: 30%;
    margin-top: 10px;
    border-radius: 3vh;
}

#course-popup h2 {
    position: relative;
    text-align: center;
    margin: 0;
}

#close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: none;
    color: #cccccc;
    font-size: 24px;
    cursor: pointer;
    margin-right: 0.5vh;
    margin-top: 0.5vh;
    border-radius: 3vh;
    background-color: transparent;
}

/* Style for the labels in the popup */
#course-popup label {
    display: block;
    margin-bottom: 5px;
}

/* Style for the inputs in the popup */
#course-popup input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    margin-bottom: 2vh;
}
#course-popup input::placeholder {
    color: lightgrey;
}

#checkbox-container {
    display: flex;
    justify-content: flex-start;
}

#waitlist-input {
    width: auto;
    margin-top: 0;
    accent-color: var(--orange);
}
.input-error {
    color: red;
    font-size: small;
    display: none;
    margin-bottom: 2vh;
}
#course-popup-buttons {
    text-align: center;
}

#course-popup-buttons button {
    margin: 0.5vh;
    border: 2px solid var(--orange);
}

#cancel-button {
    background-color: transparent;
    color: var(--orange);
}

  
.dragging {
    background: #fff;
    border-top: 1px solid #ccc;
    z-index: 999;
    user-select: none;
    background-color: #ACCEF7;
}

 #registration-time-section {
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: var(--orange);
    /* border-image: linear-gradient(to right, white, white, var(--orange), white, white) 20%; */
    border-radius: 2vh;
    width: 50%;
    margin: auto;
    margin-top: 10vh;
    color: black;
    background-image: linear-gradient(75deg, var(--orange),white, white, white, white,white,var(--orange));
} 

#registration-time-title {
    font-size: 1.6em;
}

#registration-time-label {
    font-size: 1.25em;
}

#registration-time {
    border-radius: 1vh;
    padding: 2px;
    border: 1px solid black;
    font-size: 1.5em;
    margin-left: 0.5em;
}

/* #footer {
    position:absolute;
    bottom:5px;
} */
